<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/data/mongo
       https://www.springframework.org/schema/data/mongo/spring-mongo.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="pointProperties" class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="location" value="classpath:point.properties"/>
    </bean>

    <context:component-scan base-package="com.andriusdgt.thedots.core">
        <context:include-filter type="regex" expression="com.andriusdgt.thedots.core.service.*"/>
    </context:component-scan>

    <context:component-scan base-package="com.andriusdgt.thedots.mongoadapter.repository">
        <context:include-filter type="regex" expression="com.andriusdgt.thedots.mongoadapter.repository.adapter.*"/>
    </context:component-scan>
    <mongo:repositories base-package="com.andriusdgt.thedots.mongoadapter.repository"/>

</beans>
